@import "~semantic-ui-less/definitions/elements/container"; 

@media only screen and (max-width: @largestMobileScreen) {
    td.niveau {
        display: none;
    }

    .ui.table.unstackable {
        border: none;

        td {
            border: none;
            padding: 0.25em 0.25em;
        }
    }
}
